body {
    margin-left: 45px;
    margin-right: 45px;
    font-family: 'Roboto', sans-serif;
    color: #373867;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

main .sign-up {
    margin-top: 20px;
    margin-bottom: 20px;
    border: solid 1px;
    border-radius: 50px;
}

.sign-up h2 {
    text-align: center;
}

.sign-up form {
    align-items: center;
    margin-left: 12px;
}
.sign-up input {
    width: 100%;
    max-width: 299px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 7px;
}

.sign-up div{
    margin-bottom: 10px;
    width: 100%;
    max-width: 300px;
}

.sign-up div input {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    max-width: 30px;
}

.sign-up button {
    margin-top: 10px;
    margin-bottom: 5px;
    width: 100%;
    max-width: 317px;
    height: 40px;
    border: none;
    border-radius: 3px;
    color: white;
    background-color: #AACE9B;
}
.sign-up a {
    margin-bottom: 20px;
    text-align: center;
    text-decoration: none;
    color: #0F43A8;
}

@media (min-width:1440px){
    main .sign-up {
        width: 100%;
        max-width: 500px;
    }
    .sign-up input {
        width: 100%;
        max-width: 450px;
    }
    .sign-up button {
        width: 100%;
        max-width: 470px;
    }
}

