<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trackgenix</title>
    <link rel="stylesheet" href="/Semana-06/styles/reset.css">
    <link rel="stylesheet" href="https://fonts.google.com/specimen/Roboto">
    <link rel="stylesheet" href="/Semana-06/styles/styles.css">
    <link rel="stylesheet" href="/Semana-06/styles/sidebar.css">
    <link rel="stylesheet" href="/Semana-06/styles/header.css">
    <link rel="stylesheet" href="/Semana-06/styles/landing.css">
    <link rel="stylesheet" href="/Semana-06/styles/footer.css">
</head>
<body>
    <nav>
        <h3>Menu</h3>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">SignUp</a></li>
            <li><a href="#">Login</a></li>
        </ul>
        <h3>Get in touch</h3>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the 
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type 
            and scrambled it to make a type specimen book.
        </p>
        <address>
            <div>
                <img src="/Semana-06/assets/images/email-logo.png" alt="email logo" width="18" height="18">
                <img src="/Semana-06/assets/images/phone-logo1.jpg" alt="phone logo" width="30" height="30">
                <img src="/Semana-06/assets/images/location-logo.png" alt="location logo" width="25" height="25">
            </div>
            <div>
                <a href="#">informacion@gmail.com</a>
                <a href="#">(0341) 123-4567</a>
                <a href="#"> Mendoza 1234, Rosario, Argentina</a>
            </div>
        </address>
    </nav>
    <header>
        <div class="title">
            <div><img src="/Semana-06/assets/images/menu-button.png" alt="menu button" width="29" height="19"></div>
            <div><h1>Trackgenix</h1></div>
        </div>
        <div class="logo-container">
            <a href="#"><img src="/Semana-06/assets/images/linkedin-log.png" alt="Linkedin logo" width="25" height="25"></a>
            <a href="#"><img src="/Semana-06/assets/images/Twitter-logo.png" alt="Twitter logo" width="25" height="25"></a>
            <a href="#"><img src="/Semana-06/assets/images/facebook-logo-3-1.png" alt="Facebook logo" width="25" height="25"></a>
            <a href="#"><img src="/Semana-06/assets/images/instagram-logo.png" alt="Instagram logo" width="25" height="25"></a>
        </div>
    </header>
    <main>
        <section class="description">
                <div><img src="/Semana-06/assets/images/imagen.jpg" alt="Bussines image"></div>
                <div class="text">
                    <h2>Hi, I'm Trackgenix by Trackgenix SA</h2>
                    <h4>A FREE AND FULLY RESPONSIVE SITE TEMPLATE</h4>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    </p>
                    <button>
                        LEARN MORE
                    </button>
                </div>
        </section>
        <section class="app-features">
            <div><h4>Features</h4></div>
            <div class="features-container">
                <div class="feature-box">
                    <div class="image-container">
                        <img src="/Semana-06/assets/images/reloj1.png" alt="hour tracking image">
                    </div>
                    <div>
                        <h5>Hour Tracking</h5>
                    </div>
                    <div>
                        <p>
                            Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. 
                            Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
                        </p>
                    </div>
                </div>
                <div class="feature-box">
                    <div class="image-container">
                        <img src="/Semana-06/assets/images/roles1.png" alt="roles image">
                    </div>
                    <div>
                        <h5>Multiple Roles</h5>
                    </div>
                    <div>
                        <p>
                            Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. 
                            Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
                        </p>
                    </div>
                </div>
                <div class="feature-box">
                    <div class="image-container">
                        <img src="/Semana-06/assets/images/reports1.png" alt="reports image">
                    </div>
                    <div>
                        <h5>Reports</h5>
                    </div>
                    <div>
                        <p>
                            Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. 
                            Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
                        </p>
                    </div>
                </div>
                <div class="feature-box">
                    <div class="image-container">
                        <img src="/Semana-06/assets/images/gestion de recursos1.jpg" alt="resource management image">
                    </div>
                    <div>
                        <h5>Resource Management</h5>
                    </div>
                    <div>
                        <p>
                            Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. 
                            Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="choose-us">
            <h4>Why choose us?</h4>
            <div class="reasons">
                <div class="reason-container">
                    <img src="/Semana-06/assets/images/productivity-booster1.jpg" alt="productivity image" width="250" height="170">
                    <h5>Productivity Booster</h5>
                    <p>
                        Aenean in placerat metus. Nam porta diam vel dignissim consectetur. 
                        Mauris a tempor leo, sit amet commodo dolor. Nunc vitae odio tincidunt, 
                        vestibulum odio quis, eleifend eros.
                    </p>
                </div>
                <div class="reason-container">
                    <img src="/Semana-06/assets/images/work-traceability1.jpg" alt="work traceability image" width="250" height="170">
                    <h5>Work Traceability</h5>
                    <p>
                        Aenean in placerat metus. Nam porta diam vel dignissim consectetur. 
                        Mauris a tempor leo, sit amet commodo dolor. Nunc vitae odio tincidunt, 
                        vestibulum odio quis, eleifend eros.
                    </p>
                </div>
                <div class="reason-container">
                    <img src="/Semana-06/assets/images/leadership-team-management1.jpg" alt="team management image" width="250" height="170">
                    <h5>Leadership Team Management</h5>
                    <p>
                        Aenean in placerat metus. Nam porta diam vel dignissim consectetur. 
                        Mauris a tempor leo, sit amet commodo dolor. Nunc vitae odio tincidunt, 
                        vestibulum odio quis, eleifend eros.
                    </p>
                </div>
                <div class="reason-container">
                    <img src="/Semana-06/assets/images/decision-making1.jpg" alt="decision making image" width="250" height="170">
                    <h5>Decision Making</h5>
                    <p>
                        Aenean in placerat metus. Nam porta diam vel dignissim consectetur. 
                        Mauris a tempor leo, sit amet commodo dolor. Nunc vitae odio tincidunt, 
                        vestibulum odio quis, eleifend eros.
                    </p>
                </div>
            </div>
        </section>
        <section class="contact-form">
            <h4>Contact us</h4>
            <form>
                <div>
                    <input type="text" name="Name" placeholder="Enter your name">
                    <input type="email" name="email" placeholder="Email">
                </div>
                <div>
                    <select name="Contact area">
                        <option value="RR.HH">RR.HH</option>
                        <option value="I.T">I.T</option>
                        <option value="Sales">Sales</option>
                    </select>
                </div>
                <div> 
                    <textarea name="Message" placeholder="Enter your message"></textarea>
                </div>    
                <button>
                    Send Message
                </button>
                <button>
                    Reset
                </button>
            </form> 
        </section>
        <section class="our-history">
            <h4>Our History</h4>
            <div class="begining">
                <div>
                    <h5>Our beginnings</h5>
                </div>
                <div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet congue sapien, 
                        fringilla condimentum felis. Fusce eget pharetra tellus. Sed blandit, diam vulputate 
                        congue tincidunt, justo lectus interdum enim, in dictum nunc dui eget ligula. Vestibulum 
                        ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nullam consectetur 
                        risus vulputate fringilla semper. In ut quam ante. Vestibulum eget dapibus mauris. Maecenas 
                        vel diam sed felis dictum sollicitudin sed ac dui. Nullam ultricies nulla lacus, id semper nibh 
                        dictum et.
                        Morbi eleifend aliquet augue, eget condimentum enim convallis ut. Pellentesque a convallis magna. 
                        Sed posuere lacus nec laoreet condimentum. Donec tristique arcu est, quis facilisis tellus efficitur 
                        sit amet. Duis maximus purus nec velit dignissim, vestibulum vehicula diam lobortis. Fusce condimentum 
                        porta lorem in maximus. Maecenas sit amet est non sem porta dapibus quis in justo.
                    </p>
                </div>
            </div>
            <h5>Crucial moments</h5>
            <div class="moments">
                <div>
                    <img src="/Semana-06/assets/images/crucial-moments1.jpg" alt="crucial moments" width="200" height="120">
                </div>
                <div>    
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet congue sapien, 
                        fringilla condimentum felis. Fusce eget pharetra tellus. Sed blandit, diam vulputate 
                        congue tincidunt, justo lectus interdum enim, in dictum nunc dui eget ligula. Vestibulum 
                        ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nullam consectetur 
                        risus vulputate fringilla semper. In ut quam ante. Vestibulum eget dapibus mauris. Maecenas 
                        vel diam sed felis dictum sollicitudin sed ac dui. Nullam ultricies nulla lacus, id semper nibh 
                        dictum et.
                    </p>
                </div>
            </div>
            <div class="crucial-moments">
                <div>
                    <img src="/Semana-06/assets/images/crucial-moments2.jpg" alt="crucial moments image2" width="200" height="120">
                </div>
                <div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet congue sapien, 
                        fringilla condimentum felis. Fusce eget pharetra tellus. Sed blandit, diam vulputate 
                        congue tincidunt, justo lectus interdum enim, in dictum nunc dui eget ligula. Vestibulum 
                        ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nullam consectetur 
                        risus vulputate fringilla semper. In ut quam ante. Vestibulum eget dapibus mauris. Maecenas 
                        vel diam sed felis dictum sollicitudin sed ac dui. Nullam ultricies nulla lacus, id semper nibh 
                        dictum et.
                    </p>
                </div>
            </div>
        </section>
        <section class="lists ">
            <div>
                <h4>Products</h4>
                <ol>
                    <li><a href="#">1. Features</a></li>
                    <li><a href="#">2. Downloads</a></li>
                    <li><a href="#">3. Integrations</a></li>
                    <li><a href="#">4. Additional features</a></li>
                </ol>
            </div>
            <div>
                <h4>Bussines</h4>
                <ol>
                    <li><a href="#">1. About Us</a></li>
                    <li><a href="#">2. Clients</a></li>
                    <li><a href="#">3. Resources</a></li>
                    <li><a href="#">4. Blog</a></li>
                </ol>
            </div>
            <div>
                <h4>Support</h4>
                <ol>
                    <li><a href="#">1. Help</a></li>
                    <li><a href="#">2. Tutorial</a></li>
                    <li><a href="#">3. API</a></li>
                    <li><a href="#">4. Contact</a></li>
                </ol>
            </div>
        </section>
    </main>
    <footer>
        <div class=" social-media">
            <a href="#"><img src="/Semana-06/assets/images/linkedin-log.png" alt="Linkedin logo" width="25" height="25"></a>
            <a href="#"><img src="/Semana-06/assets/images/Twitter-logo.png" alt="Twitter logo" width="25" height="25"></a>
            <a href="#"><img src="/Semana-06/assets/images/facebook-logo-3-1.png" alt="Facebook logo" width="25" height="25"></a>
            <a href="#"><img src="/Semana-06/assets/images/instagram-logo.png" alt="Instagram logo" width="25" height="25"></a>
        </div>
        <div class="city">
            <p>Rosario, Argentina</p>
        </div>
        <div class="copyright">
            <p>Copyright © 2022 Trackgenix SA. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>