<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Semana-06/styles/header.css">
    <link rel="stylesheet" href="/Semana-06/styles/sign-up.css">
    <link rel="stylesheet" href="/Semana-06/styles/footer.css">
    <title>Employee Signup</title>
</head>
<body>
    <header>
        <div class="title">
            <div><img src="/Semana-06/assets/images/menu-button.png" alt="menu button" width="29" height="19"></div>
            <div><h1>Trackgenix</h1></div>
        </div>
        <div class="logo-container">
            <a href="#"><img src="/Semana-06/assets/images/linkedin-log.png" alt="Linkedin logo" width="25" height="25"></a>
            <a href="#"><img src="/Semana-06/assets/images/Twitter-logo.png" alt="Twitter logo" width="25" height="25"></a>
            <a href="#"><img src="/Semana-06/assets/images/facebook-logo-3-1.png" alt="Facebook logo" width="25" height="25"></a>
            <a href="#"><img src="/Semana-06/assets/images/instagram-logo.png" alt="Instagram logo" width="25" height="25"></a>
        </div>
    </header>
    <main>
        <section class="sign-up">
            <h2>Sign up</h2>
            <form>
                <input type="text" name="name" placeholder="Name">
                <input type="text" name="surname" placeholder="Surname">
                <input type="number" name="dna" placeholder="DNA">
                <input type="date" name="date-birth" placeholder="Date of Birth">
                <input type="number" name="phone" placeholder="Phone">
                <input type="adress" name="adress" placeholder="Adress">
                <input type="text" name="city" placeholder="City">
                <input type="number" name="post-code" placeholder="Post code">
                <input type="email" name="email" placeholder="Email">
                <input type="password" name="password" placeholder="Paasword">
                <input type="password" name="repeat-password" placeholder="Repeat Password">
                <button>
                    Continue
                </button>
            </form>
        </section>
    </main>
    <footer>
        <div class=" social-media">
            <a href="#"><img src="/Semana-06/assets/images/linkedin-log.png" alt="Linkedin logo" width="25" height="25"></a>
            <a href="#"><img src="/Semana-06/assets/images/Twitter-logo.png" alt="Twitter logo" width="25" height="25"></a>
            <a href="#"><img src="/Semana-06/assets/images/facebook-logo-3-1.png" alt="Facebook logo" width="25" height="25"></a>
            <a href="#"><img src="/Semana-06/assets/images/instagram-logo.png" alt="Instagram logo" width="25" height="25"></a>
        </div>
        <div class="city">
            <p>Rosario, Argentina</p>
        </div>
        <div class="copyright">
            <p>Copyright © 2022 Trackgenix SA. All rights reserved.</p>
        </div>
    </footer>  
</body>
</html>