<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Semana-06/styles/header.css">
    <link rel="stylesheet" href="/Semana-06/styles/sign-up.css">
    <link rel="stylesheet" href="/Semana-06/styles/footer.css">
    <script src="/Semana-06/javascript/sign-up.js"></script>
    <title>Employee Signup</title>
</head>
<body>
    <header>
        <div class="title">
            <div><img src="/Semana-06/assets/images/menu-button.png" alt="menu button" width="29" height="19"></div>
            <div>
                <a href="index.html"><h1>Trackgenix</h1></a>
            </div>
        </div>
        <div class="logo-container">
            <a href="#"><img src="/Semana-06/assets/images/linkedin-log.png" alt="Linkedin logo" width="25" height="25"></a>
            <a href="#"><img src="/Semana-06/assets/images/Twitter-logo.png" alt="Twitter logo" width="25" height="25"></a>
            <a href="#"><img src="/Semana-06/assets/images/facebook-logo-3-1.png" alt="Facebook logo" width="25" height="25"></a>
            <a href="#"><img src="/Semana-06/assets/images/instagram-logo.png" alt="Instagram logo" width="25" height="25"></a>
        </div>
    </header>
    <main>
        <section class="sign-up">
            <h2>Sign up</h2>
            <form>
                <div class="registration">
                    <label for="name" class="reg-label">Name</label>
                    <div class="reg-input">
                        <input type="text" id="firstName" name="firstName" placeholder="Name">
                        <div id="errorText"><p></p></div>
                    </div>   
                </div>
                <div class="registration">
                    <label for="surname" class="reg-label">Surname</label>
                    <div class="reg-input">
                        <input type="text" id="surname" name="surname" placeholder="Surname">
                        <div id="errorText2"><p></p></div>
                    </div>
                </div>
                <div class="registration">
                    <label for="dna" class="reg-label">DNA</label>
                    <div class="reg-input">
                        <input type="number" id="dna" name="dna" placeholder="DNA">
                        <div id="errorText3"><p></p></div>
                    </div>
                </div>
                <div class="registration">
                    <label for="date-birth" class="reg-label">Date of Birth</label>
                    <div class="reg-input">
                        <input type="date" id="dateBirth" name="date-birth" placeholder="Date of Birth">
                        <div id="errorText4"><p></p></div>
                    </div>
                </div>
                <div class="registration">
                    <label for="phone" class="reg-label">Phone</label>
                    <div class="reg-input">
                        <input type="number" id="phone" name="phone" placeholder="Phone">
                        <div id="errorText5"><p></p></div>
                    </div>
                </div>
                <div class="registration">
                    <label for="adress" class="reg-label">Adress</label>
                    <div class="reg-input">
                        <input type="adress" id="adress" name="adress" placeholder="Adress">
                        <div id="errorText6"><p></p></div>
                    </div>
                </div>
                <div class="registration">
                    <label for="city" class="reg-label">City</label>
                    <div class="reg-input">
                        <input type="text" id="city" name="city" placeholder="City">
                        <div id="errorText7"><p></p></div>
                    </div>
                </div>
                <div class="registration">
                    <label for="post-code" class="reg-label">Post code</label>
                    <div class="reg-input">
                        <input type="number" id="postCode" name="postCode" placeholder="Post code">
                        <div id="errorText8"><p></p></div>
                    </div>
                </div>
                <div class="registration">
                    <label for="email" class="reg-label">Email</label>
                    <div class="reg-input">
                        <input type="email" id="email" name="email" placeholder="Email">
                        <div id="errorText9"><p></p></div>
                    </div>
                </div>
                <div class="registration">
                    <label for="password" class="reg-label">Password</label>
                    <div class="reg-input">
                        <input type="password" id="password" name="password" placeholder="Paasword">
                        <div id="errorText10"><p></p></div>
                    </div>
                </div>
                <div class="registration">
                    <label for="repeat-password" id="repPass" class="reg-label">Repeat Password</label>
                    <div class="reg-input">
                        <input type="password" name="repeatPassword" placeholder="Repeat Password">
                        <div id="errorText11"><p></p></div>
                    </div>
                </div>
                <button id="continue">
                    Continue
                </button>
            </form>
        </section>
    </main>
    <footer>
        <div class=" social-media">
            <a href="#"><img src="/Semana-06/assets/images/linkedin-log.png" alt="Linkedin logo" width="25" height="25"></a>
            <a href="#"><img src="/Semana-06/assets/images/Twitter-logo.png" alt="Twitter logo" width="25" height="25"></a>
            <a href="#"><img src="/Semana-06/assets/images/facebook-logo-3-1.png" alt="Facebook logo" width="25" height="25"></a>
            <a href="#"><img src="/Semana-06/assets/images/instagram-logo.png" alt="Instagram logo" width="25" height="25"></a>
        </div>
        <div class="city">
            <p>Rosario, Argentina</p>
        </div>
        <div class="copyright">
            <p>Copyright © 2022 Trackgenix SA. All rights reserved.</p>
        </div>
    </footer>  
</body>
</html>