<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Semana-06/styles/header.css">
    <link rel="stylesheet" href="/Semana-06/styles/sign-up.css">
    <link rel="stylesheet" href="/Semana-06/styles/footer.css">
    <title>Employee Signup</title>
</head>
<body>
    <header>
        <div class="title">
            <div><img src="/Semana-06/assets/images/menu-button.png" alt="menu button" width="29" height="19"></div>
            <div>
                <a href="index.html"><h1>Trackgenix</h1></a>
            </div>
        </div>
        <div class="logo-container">
            <a href="#"><img src="/Semana-06/assets/images/linkedin-log.png" alt="Linkedin logo" width="25" height="25"></a>
            <a href="#"><img src="/Semana-06/assets/images/Twitter-logo.png" alt="Twitter logo" width="25" height="25"></a>
            <a href="#"><img src="/Semana-06/assets/images/facebook-logo-3-1.png" alt="Facebook logo" width="25" height="25"></a>
            <a href="#"><img src="/Semana-06/assets/images/instagram-logo.png" alt="Instagram logo" width="25" height="25"></a>
        </div>
    </header>
    <main>
        <section class="sign-up">
            <h2>Sign up</h2>
            <form>
                <div class="registration">
                    <label for="name" class="reg-label">Name</label>
                    <div class="reg-input">
                        <input type="text" name="name" placeholder="Name">
                    </div>
                    <p class="input-error">The name must contain more than 3 chars and can only contain letters</p>
                </div>
                <div class="registration">
                    <label for="surname" class="reg-label">Surname</label>
                    <div class="reg-input">
                        <input type="text" name="surname" placeholder="Surname">
                    </div>
                    <p class="input-error">The surname must contain more than 3 chars and can only contain letters</p>
                </div>
                <div class="registration">
                    <label for="dna" class="reg-label">DNA</label>
                    <div class="reg-input">
                        <input type="number" name="dna" placeholder="DNA">
                    </div>
                    <p class="input-error">The DNA must contain more than 7 chars and can only contain numbers</p>
                </div>
                <div class="registration">
                    <label for="date-birth" class="reg-label">Date of Birth</label>
                    <div class="reg-input">
                        <input type="date" name="date-birth" placeholder="Date of Birth">
                    </div>
                    <p class="input-error">The date of birth is wrong</p>
                </div>
                <div class="registration">
                    <label for="phone" class="reg-label">Phone</label>
                    <div class="reg-input">
                        <input type="number" name="phone" placeholder="Phone">
                    </div>
                    <p class="input-error">The phone number must contain more than 10 chars and can only contain numbers</p>
                </div>
                <div class="registration">
                    <label for="adress" class="reg-label">Adress</label>
                    <div class="reg-input">
                        <input type="adress" name="adress" placeholder="Adress">
                    </div>
                    <p class="input-error">The adress must contain more than 5 chars and can only contain letters, numbers and a blank space in the middle</p>
                </div>
                <div class="registration">
                    <label for="city" class="reg-label">City</label>
                    <div class="reg-input">
                        <input type="text" name="city" placeholder="City">
                    </div>
                    <p class="input-error">The city must contain more than 3 chars and can only contain alphanumeric text</p>
                </div>
                <div class="registration">
                    <label for="post-code" class="reg-label">Post code</label>
                    <div class="reg-input">
                        <input type="number" name="post-code" placeholder="Post code">
                    </div>
                    <p class="input-error">The post code must contain 4 to 5 chars and can only contain numbers</p>
                </div>
                <div class="registration">
                    <label for="email" class="reg-label">Email</label>
                    <div class="reg-input">
                        <input type="email" name="email" placeholder="Email">
                    </div>
                    <p class="input-error">The email format must be valid</p>
                </div>
                <div class="registration">
                    <label for="password" class="reg-label">Password</label>
                    <div class="reg-input">
                        <input type="password" name="password" placeholder="Paasword">
                    </div>
                    <p class="input-error">The password must contain more than 7 chars and can only contain letters and numbers</p>
                </div>
                <div class="registration">
                    <label for="repeat-password" class="reg-label">Repeat Password</label>
                    <div class="reg-input">
                        <input type="password" name="repeat-password" placeholder="Repeat Password">
                    </div>
                    <p class="input-error">The password must contain more than 7 chars and can only contain letters and numbers</p>
                </div>
                <button>
                    Continue
                </button>
            </form>
        </section>
    </main>
    <footer>
        <div class=" social-media">
            <a href="#"><img src="/Semana-06/assets/images/linkedin-log.png" alt="Linkedin logo" width="25" height="25"></a>
            <a href="#"><img src="/Semana-06/assets/images/Twitter-logo.png" alt="Twitter logo" width="25" height="25"></a>
            <a href="#"><img src="/Semana-06/assets/images/facebook-logo-3-1.png" alt="Facebook logo" width="25" height="25"></a>
            <a href="#"><img src="/Semana-06/assets/images/instagram-logo.png" alt="Instagram logo" width="25" height="25"></a>
        </div>
        <div class="city">
            <p>Rosario, Argentina</p>
        </div>
        <div class="copyright">
            <p>Copyright © 2022 Trackgenix SA. All rights reserved.</p>
        </div>
    </footer>  
</body>
</html>