.app-features {
    display: inline-block;
    margin-left: 25%;
    padding-top: 20px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #373867;
    border-bottom: #373867 solid 1px;
}
.app-features h4 {
    padding-bottom: 15px;
    font-weight: bold;
    font-size: 19px;
}

/*.app-features div {
    display: inline-block;
    width: 45%;
}*/

.app-features h5 {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 17px;
    font-weight: bold;
}

.image-container {
    margin: 40px;
    width: 94px;
    height: 94px;
    overflow: hidden;
    border-radius: 3px;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    position: relative;
    -webkit-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, .05);
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, .05);
    float: left;
    }

.image-container img {
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    top: -100px;
    left: -100px;
}





