.choose-us {
    margin-left: 350px;
    margin-bottom: 30px;
    height: fit-content;
    font-family: 'Roboto', sans-serif;
    color: #373867;
    border-bottom: #373867 1px solid;
}

.choose-us div {
    padding-top: 10px;
    padding-bottom: 30px;
    color: #373867;
    column-count: 4;
    column-gap: 15px;
    column-rule: solid 1px #373867;
} 

.choose-us h4 {
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: bold;
    font-size: 19px;
    color: #373867;
}

.choose-us h5 {
    padding-top: 9px;
    padding-bottom: 9px;
    font-weight: bold;
}

