

header, section, footer {
    margin-right: 15px;
    margin-left: auto;
    width: 75%;
}

.header {
    margin-left: 350px;
    margin-top: 20px;
    color:#373867;
    border-bottom: solid 5px #AACE9B;
}

.header h1 {
    padding-top: 20px;
    margin-left: 6%;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

.header a {
    position: relative;
    left: 938px;
    bottom: 20px;
}


.description {
    display: inline-block;
    margin-left: 25%;
    padding-top: 15px;
    padding-bottom: 20px;
    height: fit-content;
    color:#373867;
    border-bottom: solid 1px #373867;
}

.description div {
    float: left;
    width: 55%;
}

.description h2 {
    font-size: 45px;
    font-weight: bolder;
    text-align: left;
}

.description h4 {
    width: 500px;
    padding-top: 9px;
    font-size: 19px;
    text-align: left;
}

.description p {
    padding-top: 9px;
    width: 450px;
    font-size: 17px;
}

.description button {
    margin-top: 22px;
    margin-bottom: 15px;
    width: 180px;
    height: 40px;
    border: solid 3px #AACE9B;
    border-radius: 5px;
    background-color: white;
    color: #AACE9B;
}

.description img {
    float: right;
    width: 45%;
}

.app-features {
    display: in-block;
    margin-left: 25%;
    padding-top: 20px;
    text-align: left;
    font-size: 16px;
    color: #373867;
}
 .app-features h4 {
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 19px;
 }

 .app-features div{
    display: inline-block;
    width: 40%;
 }

 /*.img-container {
    display: inline-block;
    margin: 50px;
    width: 94.19px;
    height: 94.19px;
    overflow: hidden;
    transform: rotate(45deg);
  }
  .img-container img {
    position: relative;
    top: -25px;
    left: -25px;
    width: 141%;
    height: 141%;
    transform: rotate(-45deg);
  }*/

 .app-features img{
    float: left;
 }



.choose-us {
    margin-left: 350px;
}

.choose-us div {
    padding-top: 10px;
    padding-bottom: 15px;
    color: #373867;
    column-count: 4;
    column-gap: 30px;
    column-rule: solid 1px #373867;
    border-bottom: #373867 1px solid;
} 

.choose-us h4 {
    font-weight: bold;
    font-size: 19px;
    color: #373867;
}

.contact-form {
    margin-left: 350px;
}








.our-history {
    margin-left: 350px;
    color: #373867;
}

.our-history h4 {
    padding-bottom: 15px;
    font-weight: bold;
    font-size: 19px;
    text-decoration: underline;
}

.our-history h5{
    padding-bottom: 25px;
    font-weight: bolder;    
}

.our-history p {
    padding-top: 10px;
    padding-bottom: 25px;
}

.paragraph-one {
    float: right;
    width: 75%;
}

.paragraph-two {
    float: left;
    width: 75%;
}

.image-two {
    float: right;
    width: 20%;
}

.lists {
    margin-left: 350px;
    padding-top: 15px;
    padding-bottom: 15px;
    column-count: 3;
    column-gap: 50px;
    border-top: #373867 1px solid;
    border-bottom: #373867 1px solid;
}

.lists h4 {
    margin-bottom: 10px;
    font-size: 22px;
    color: #373867;
}

.lists ol {
    margin-left: 15px;
    list-style-type: decimal;
}

.lists a {
    text-decoration: none;
    color: #373867;
}

.lists li {
    font-size: 15px;
    font-weight: bolder;
}

footer {
    margin-left: 350px;
    padding-top: 10px;
    font-size: 16px;
    color: #373867;
}
