

header, section, footer {
    margin-right: 20px;
    margin-left: auto;
    width: 75%;
}





.app-features {
    display: in-block;
    margin-left: 25%;
    padding-top: 20px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #373867;
}
 .app-features h4 {
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 19px;
 }

 .app-features div{
    display: inline-block;
    width: 40%;
 }

 /*.img-container {
    display: inline-block;
    margin: 50px;
    width: 94.19px;
    height: 94.19px;
    overflow: hidden;
    transform: rotate(45deg);
  }
  .img-container img {
    position: relative;
    top: -25px;
    left: -25px;
    width: 141%;
    height: 141%;
    transform: rotate(-45deg);
  }*/

 .app-features img{
    float: left;
 }












.our-history {
    margin-left: 350px;
    font-family: 'Roboto', sans-serif;
    color: #373867;
}

.our-history h4 {
    padding-bottom: 15px;
    font-weight: bold;
    font-size: 19px;
    text-decoration: underline;
}

.our-history h5{
    padding-bottom: 25px;
    font-weight: bolder;    
}

.our-history p {
    padding-top: 10px;
    padding-bottom: 25px;
}

.paragraph-one {
    float: right;
    width: 75%;
}

.paragraph-two {
    float: left;
    width: 75%;
}

.image-two {
    float: right;
    width: 20%;
}

.lists {
    margin-left: 350px;
    padding-top: 15px;
    padding-bottom: 15px;
    column-count: 3;
    column-gap: 50px;
    border-top: #373867 1px solid;
    border-bottom: #373867 1px solid;
    font-family: 'Roboto', sans-serif;
}

.lists h4 {
    margin-bottom: 10px;
    font-size: 22px;
    color: #373867;
}

.lists ol {
    margin-left: 15px;
    list-style-type: decimal;
}

.lists a {
    text-decoration: none;
    color: #373867;
}

.lists li {
    font-size: 15px;
    font-weight: bolder;
}

footer {
    margin-left: 350px;
    padding-top: 10px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #373867;
}
