html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
  
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html, body, #root {
    height: 100%;
}



.sidebar {
    position: fixed;
    width: 22%;
    padding-left: 10px;
}

.sidebar h3 {  
    padding-top: 15px;  
    padding-bottom: 20px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #373867;
    text-decoration: underline 3px #AACE9B;
}

.sidebar ul {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.sidebar li{
    padding-bottom: 8px;
    padding-top: 5px;  
    font-size: 12px;
    border-bottom: solid 1px #373867;
}

.sidebar a{
    text-decoration: none;
    color: #373867;
}

.sidebar p{
    padding-bottom: 10px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    color: #373867;
}

.sidebar address{
    padding-top: 10px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #373867;
}



header, section, footer {
    margin-right: 10px;
    margin-left: auto;
    width: 75%;
}

.header {
    padding-top: 20px;
    color:#373867;
    border-bottom: solid 5px #AACE9B;
}

.header h1 {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

.header a {
    position: relative;
    left: 815px;
    bottom: 30px;
}


.description {
    padding-top: 15px;
    padding-bottom: 20px;
    height: fit-content;
    color:#373867;
}

.description div {
    float: left;
    width: 55%;
}

.description h2 {
    font-size: 45px;
    font-weight: bolder;
    text-align: left;
}

.description h4 {
    padding-top: 5px;
    font-size: 25px;
    text-align: left;
}

.description p {
    padding-top: 5px;
}

.description button {
    margin-top: 10px;
    margin-bottom: 15px;
    border-color: #AACE9B;
    color: #AACE9B;
    background-color: white;

}

.description img {
    float: right;
    width: 45%;
}

.app-features {
    padding-top: 20px;
    text-align: left;
    font-size: 16px;
    color: #373867;
}



.choose-us div {
    padding-top: 10px;
    padding-bottom: 15px;
    color: #373867;
    column-count: 4;
    column-gap: 30px;
    column-rule: solid 1px #373867;
    border-bottom: #373867 1px solid;
} 

.choose-us h4 {
    font-weight: bold;
    color: #373867;
}


.lists {
    padding-bottom: 15px;
    column-count: 3;
    column-gap: 50px;
    border-bottom: #373867 1px solid;
}

.lists h4 {
    font-size: 16px;
    font-weight: bold;
    color: #373867;
}

.lists a {
    text-decoration: none;
    color: #373867;
}


footer {
    padding-top: 10px;
    font-size: 16px;
    color: #373867;
}
