.header {
    margin-top: 10px;
    border-bottom: 5px solid #AACE9B;    
}

.header .title {
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 15px;
}
.title h1 {
    padding-left: 78px;
    font-size: 40px;
    font-weight: bolder;
}

.header .container {
    margin-left: 110px;
    margin-bottom: 20px;
}
.container a {
    padding-right: 33px;
}