body {
    margin-left: 40px;
    margin-right: 45px;
    font-family: 'Roboto', sans-serif;
    color: #373867;
}

body a {
    text-decoration: none;
    color: #373867;
}

main h4 {
    font-size: 20px;
    margin-bottom: 15px;
    text-align: center;
}